@import '../../sass/mixins/index';

.projects {
  &__cards-container {
    display: grid;
    gap: 10.4rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5.4rem;
  }

  &__card {
    max-height: 61.9rem;
  }
}
