@import '../../sass/index';

.button {
  background-color: var(--color-secondary);
  border: unset;
  border-radius: 1.8rem;
  box-shadow: 0 10px 20px var(--color-gray-750);
  height: 7.5rem;
  padding: 0 5.4rem;

  @include body-styles('small', $color: var(--color-white-100), $weight: 600);

  &__gold {
    background-color: var(--color-primary);
  }
}
