@import '@sass/mixins/index';

.page-logo {
  align-items: center;
  display: flex;
  font-family: var(--font-family-primary);
  font-size: 4rem;
  gap: 1rem;
  line-height: var(--line-height-heading);
  text-decoration: none;
  @include reset-link-style;
}
