@import '../../sass/index';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;

  &__logo-title {
    align-items: center;
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 4rem;
    gap: 1rem;
    line-height: var(--line-height-heading);
    text-decoration: none;
    @include reset-link-style;
  }
}
