@import '../../sass/index';

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &__main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__heading {
    @include container-width;
    @include padding-x(1.75rem);

    @include media-query('md') {
      @include padding-x(4rem);
    }
  }

  &__footer {
    @include container-width;
    @include padding-x(1.75rem);

    padding-bottom: 2rem;

    @include media-query('md') {
      @include padding-x(4rem);

      padding-bottom: 4.6rem;
    }
  }
}
