@import '../../sass/index';

.footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4rem 4rem;

  @include media-query('md') {
    gap: 17.4rem;
  }

  &__links-wrapper {
    display: grid;
    max-width: 32rem;

    @include media-query('md') {
      gap: 5rem;
      grid-template-columns: repeat(2, 1fr);
      max-width: unset;
    }
    @include media-query('lg') {
      gap: 11rem;
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-query('xl') {
      grid-template-columns: 29% 10% 10% 22%;
    }
  }

  &__logo-title {
    align-items: center;
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 4rem;
    gap: 1rem;
    line-height: var(--line-height-heading);
    text-decoration: none;

    @include reset-link-style;
  }

  &__description {
    margin: 1.8rem 0 3.1rem;
  }

  &__social-links {
    align-items: center;
    display: flex;
    gap: 5.4rem;
    @include reset-list-style;
  }

  &__copyright {
    @include flex-center;
  }
}

.link {
  @include reset-link-style;
}
