@import '../../sass/mixins/index';

.workflow-single {
  display: grid;
  gap: 4.1rem;

  @include media-query('lg') {
    display: flex;
  }

  &__text-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65rem;

    @include media-query('lg') {
      max-width: 50rem;
    }
  }

  &__title {
    @include heading-styles('large', $weight: 400);
  }

  &__description {
    @include padding-y($top: 2.3rem, $bottom: 4.1rem);
    @include body-styles('large');
  }

  &__image {
    border-radius: 40px;
    max-height: 37.7rem;
    object-fit: cover;
    width: 100%;

    @include media-query('lg') {
      border-radius: 70px;
      max-width: 65.9rem;
    }
  }

  &__title,
  &__description {
    margin: 0;
  }
}
