@import '../../sass/index';

.circle-link {
  background: var(--color-tertiary);
  border-radius: 50%;

  @include flex-center;

  &__small {
    height: 5.2rem;
    width: 5.2rem;
  }

  &__large {
    height: 5rem;
    width: 5rem;

    @include media-query('md') {
      height: 7rem;
      width: 7rem;
    }
  }
}

.arrow-link {
  align-items: center;
  display: inline-flex;
  height: 1.8rem;
  text-decoration: none;

  @include body-styles('small', $weight: 600);

  &__icon {
    padding-left: 1.2rem;
    stroke: var(--color-primary);
    width: auto;
  }
}
